.git/
.gitignore
*.pyc
*.pyo
__pycache__/
.idea
.vscode
venv/
.venv/
*.log
.mypy_cache/
.pytest_cache/
.ruff_cache/
.envs/*
.env
.env.*
.envs/
.mypy_cache
staticfiles/
media/
frontend/
activate_venv.bat

Makefile
mypy.ini

Pipfile
Pipfile.lock

pytest.ini
pytestdebug.log